<section class="bg-primary" id="about">    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"</h2>Sobre mim</h2>			
				<div id="luis-guimaraes">
				  <img class="circle" src="https://avatars.githubusercontent.com/u/27812976?s=400&u=199b4deb9f0d1c62e0bcfeae3f2ec1c06c3053ab&v=4" alt="Minha foto""/>                            
                </div>
              

                <hr class="primary">
                <p class="text-faded">Meu nome é Luis Guimarães, sou Analista de TI com 8 anos de experiência. Apaixonado por tecnologia, acredito no potencial que ela nos dá e em sua capacidade de transformar pessoas, negócios e o mundo. Atualmente estou expandindo e aprimorando meus conhecimentos para me tornar um Cientista de Dados 🔭. </p>

            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3 style="font-size:50px">🎓</h3>
                    <p class="text-faded"> Graduando em Gestão de TI pela <a href="https://estacio.br/" target="_blank" class="text-link">UNESA</a>.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3 style="font-size:50px">🤖</h3>
                    <p class="text-faded"> Curso de Machine Learning pela <a href="https://www.coursera.org/learn/machine-learning" target="_blank" class="text-link">Stanford / Coursera</a> com o professor Andrew Ng.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3 style="font-size:50px">📚</h3>
                    <p class="text-faded"> Curso de Data Science pela <a href="https://sigmoidal.ai/" target="_blank" class="text-link">Sigmoidal</a> em andamento.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3 style="font-size:50px">🥾</h3>
                    <p class="text-faded"> Trilhando o <a href="https://academy.databricks.com/learning-paths" target="_blank" class="text-link">Data Scientist Pathway</a> pela Databricks</p>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-top:80px; margin-bottom:-70px">

                  <p class="text-faded">Possuo diversos projetos em meu portfólio de datascience. Veja alguns abaixo.</p>
 
         </div>
    </div>
</section>

